body {
    /* padding-left: 5vw;
    padding-right: 5vw; */
}



.container_1 {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 1;

    padding-left: 8vw;
    padding-right: 8vw;


    

}

.container_1 a {

    color: darkcyan;
    font-size: 1vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
    padding-left: 1vw;
    padding-right: 1vw;
    letter-spacing: 1 vw;

}

.Logo img {
    padding: 2vh;
    width: 6vw;
    height: auto;

    grid-row: 1;
    grid-column: 1;
}

#home {
    padding-top: 4vh;
    grid-row: 1;
    grid-column: 8;
    text-align: right;
}

#about {
    padding-top: 4vh;
    grid-row: 1;
    grid-column: 9;
    text-align: right;
}

#portfolio {
    padding-top: 4vh;
    grid-row: 1;
    grid-column: 10;
    text-align: right;
}

#contact {
    padding-top: 4vh;
    grid-row: 1;
    grid-column: 11;
    text-align: right;
}
#menu1 img {
    width: 1vw;
    height: auto;
    grid-row: 1;
    grid-column: 12;
    display: none;
}

.containerabout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.p1 {
    color: rgb(36, 36, 36);
    font-size: 1vw;
    text-decoration: none;
    font-family: Raleway;
    padding-left: 1vw;
    padding-right: 1vw;
    letter-spacing: 1 vw;
    line-height: 4vh;

}

h2 {
    color: darkcyan;
    font-size: 2vw;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    letter-spacing: 1 vw;
}

.one, .two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

label {
    color: rgb(36, 36, 36);
    font-size: 1vw;
    text-decoration: none;
    font-family: Raleway;
    padding-left: 1vw;
    padding-right: 1vw;
    letter-spacing: 1 vw;
    line-height: 4vh;
}